.texnik{
    width: 1300px;
    height: 700px;
    // border: 1px solid;
    margin: 0 auto;
    background-color: #EFF5FF;
}
.container{
    width: 1120px;
    height: 200px;
    // border: 1px solid;
    margin: 0 auto;
    margin-top: 50px;
    span{
        color: #2CAD62;
    }
}
.container2{
    width: 1120px;
    height: 360px;
    // border: 1px solid;
    margin: 0 auto;
    margin-top: 50px;
}